@font-face{
    font-family: Fipps-Regular;
    src:url("fonts/Fipps-Regular.otf")
}


html, body{
    font-family:Fipps-Regular;
    height:100%;
    width:100%;
}

body{
    overflow: hidden;
    background:url("images/background.png");
    animation: backgroundslide 10s linear infinite;
}

@keyframes backgroundslide{
    from{background-position: 0 0;}
    to{background-position: 100% 0;}
}

#player{
    height:5%;
    position: absolute;    
    pointer-events: none;
}

.pipe{
    position: absolute;
    width: 10%;
    pointer-events: none;
}

#score{
    position: absolute;
    font-size:10vw;

    left:50%;
    top:5%;

    transform: translateX(-50%);

    z-index:10;
    pointer-events: none;
}

#lost{

    z-index: 20;
    position: absolute;
    
    background-color: #fbeeacf3;
    
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    
    padding:20px;
    height: 40vh;
    width: 30%;
    
    border: solid 3px black;
    border-radius: 20px;
    
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    animation: lostscroll 1s ease-out;
}

.youlost{
    font-size: 3vw;
}

#endscore{
    font-size:4vw;
}

#lost .playagain{
    font-family:Fipps-Regular;
    outline:none;
    border-radius:20px;
    padding: 2% 2%;

    background-color: #335d2d;
    border: solid 3px black;
}

.unselectable{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

@keyframes lostscroll{
    from{top:-100%;}
    to{top:50%;}
}

@media (max-width:500px){
    #score{
        font-size:20vw;
    }
    #lost{
        width:80%;
        height: 70%;
    }
    .youlost{
        font-size:10vw;
    }
    #endscore{
        font-size:20vw;
    }
    #lost .playagain{
        width:70%;
    }
}
